body {
    font-family: 'Merriweather', serif;
    font-family: 'Roboto Slab', serif;
}

.header {
    width: 100%;
    height: 75px;
    padding: 2em;
    color: white;
    background-color: rgb(255, 102, 0);
    margin-bottom: 2em;
}

#txtInput {
    width: 100%;
    resize: none;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 25px;
}

#txtOutput {
    width: 100%;
    resize: none;
    padding: 1em;
    font-size: 25px;
}

.btn {
    color: white;
    margin-bottom: 2em;
    background-color: rgb(255, 102, 0);
}